<nav class="navbar navbar-default navbar-fixed-top" >
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-superpowers" aria-hidden="true"></i>
                    Canopee
            </a>
        </div>
        <ul class="nav navbar-nav" id="test">
            <li><a href="/songs/allSongs">Songs</a></li>
            <li><a href="/songs/addSong" >AddSong</a></li>
            <li><a href="/songs/mySongs">My Songs</a></li>
            <li><a href="/users/profile">Profile</a></li>
        </ul>
        <form  action="/songs/getSongByName" method="GET" class="navbar-form navbar-right">
            <a href="/users/login" class="btn btn-primary">Log in</a>
            <input type="text" name="songName" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-default" id="test">Submit</button>
        </form>
</nav>