<html>
    <head>
        <% include partials/head %>
    </head>
    <title>Canopee</title>
    <body class="container">
        <header>
            <% include partials/header %>
        </header>
        <%= err %>
        <footer> 
            <% include partials/footer %>
        </footer>
    </body>
</html> 